@use '../../styles/colors.scss';

.device {
  display: flex;
  align-items: center;
  border: 1px solid rgb(62, 68, 70);
  border-radius: 5px;
  border-width: 2px;
  padding: 5px;
  margin-bottom: 10px;

  flex-grow: 1;

  div {
    margin: 2px;
  }
}

.device-info {
  text-align: left;

  p {
    line-height: 0.75rem;
  }
}

.device-buttons {
  display: flex;
  flex-direction: column;

  button {
    margin: 1px;
  }
}

.device-status {
  width: auto;
  display: flex;
  flex-direction: column;

  div {
    width: 40;
    height: 40;

    svg {
      margin-top: 4px;
    }
  }
}

.crud-buttons {
  width: auto;
  display: flex;
}

@media (min-width: 320px) {
  /* smartphones, portrait iPhone, portrait 480x320 phones (Android) */
  .device {
    flex-wrap: wrap;
    justify-content: center;
  }

  .crud-buttons {
    flex-direction: row;
  }
}
@media (min-width: 480px) {
  /* smartphones, Android phones, landscape iPhone */
  .device {
    flex-wrap: nowrap;
  }

  .crud-buttons {
    flex-direction: column;
  }
}
